<br />
<% @studies.each do |study| %>
  
<div class="col-md-3">

<div class="cover">
          <a href="<%= study.study_link %>">
            <hgroup>
         
            <h2> <%= study.name %></h2>

            <h3><i class="serif">By</i> AuthorName</h3>
            </hgroup>
            <ul class="flow-numbers">
              <li class="tip" original-title="Students">
              <span class="icon">Respostas </span>183
              </li>
              <li class="tip" original-title="Drops">
              <span class="icon">Tempo </span>34
              </li>
            </ul>
          </a>
        </div>
        
    <%= study.description %>
   
<%= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>
<br />

<%= link_to 'New Study', new_study_path %>
