<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @study.name %>
</p>

<p>
  <b>Description:</b>
  <%= @study.description %>
</p>

<p>
  <b>Study link:</b>
  <%= @study.study_link %>
</p>


<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
