<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @study.name %>
</p>

<p>
  <b>Description:</b>
  <%= @study.description %>
</p>

<p>
  <b>Study link:</b>
  <a href="/dist/preview_export/bespoke.html#<%= @study.presentation %>">adasdsad</a>
 
</p>


<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
